<!-- start module contents -->
<div align="right"><a href="index.php"><{$topic_index_title}></a>&nbsp;-&nbsp;<a href="newsread.php?topic=<{$topic_id}>"><{$postnew}></a>&nbsp;-&nbsp;<a href="<{$xoops_url}>/modules/bluesbb/i/index.php"><{$phone}></a></div>
<div align="center"><p><font size="+1"><{$topic_name}></font></p></div>
<table align="center" width="100%">
<tr cellpadding="8"><td align="center"><{$topic_info}></td></tr>
</table><br><br>
<a name="menu"></a>
<table class="outer" cellspacing="0">
<tr><td class="odd">
<{foreach item=sread_name_list from=$sread_name_list}>
<a href="viewsread.php?topic=<{$sread_name_list.topic_id}>&amp;sread_id=<{$sread_name_list.sread_id}>&amp;number=l50"><{$sread_name_list.srn}>:<{$sread_name_list.title}>(<{$sread_name_list.count}>)</a>&nbsp;&nbsp;
<{/foreach}>
<div align="right"><a href="sreadlist.php?topic=<{$topic_id}>&amp;more=0"><{$sreadlist}></a></div>
</td></tr>
</table><br><br>
<!-- start topic main table -->
<!-- start topic sread -->
<{foreach item=sread from=$sreads}>
<table class="outer" cellspacing="0">
<{foreach item=item from=$sread}>
<{if $item.res_id==1}>
<tr>
<td class="head" width="100" align="center"><{$item.res_id}></td>
<td class="head"><{$item.title}></td>
</tr>
<tr>
<td class="odd" width="100" align="center"><{$item.uname}><br><{$item.rank}><br><{$item.user_avatar}></td>
<td class="odd"><{$item.name}>&nbsp;<span class="comDate"><{$item.post_time}></span>&nbsp;<a href="<{$item.url}>"><{$site}></a>&nbsp;<a href="mailto:<{$item.mail}>"><{$mail}></a>&nbsp;[<a href="reply.php?topic=<{$item.topic_id}>&amp;sread_id=<{$item.sread_id}>&amp;post_id=<{$item.post_id}>"><{$replies}></a>]&nbsp;[<a href="pass_check.php?topic=<{$item.topic_id}>&amp;post_id=<{$item.post_id}>"><{$edit}></a>]<br><br><{$item.message}><{$item.user_sig}></td>
</tr>
<{else}>
<tr>
<td class="even" width="100" align="center"><{$item.res_id}></td>
<td class="even"><{$item.title}></td>
</tr>
<tr>
<td class="odd" width="100" align="center"><{$item.uname}><br><{$item.rank}><br><{$item.user_avatar}></td>
<td class="odd"><{$item.name}>&nbsp;<span class="comDate"><{$item.post_time}></span>&nbsp;<a href="<{$item.url}>"><{$site}></a>&nbsp;<a href="mailto:<{$item.mail}>"><{$mail}></a>&nbsp;[<a href="reply.php?topic=<{$item.topic_id}>&amp;sread_id=<{$item.sread_id}>&amp;post_id=<{$item.post_id}>"><{$replies}></a>]&nbsp;[<a href="pass_check.php?topic=<{$item.topic_id}>&amp;post_id=<{$item.post_id}>"><{$edit}></a>]<br><br><{$item.message}><{$item.user_sig}></td>
</tr>
<{/if}>
<{/foreach}>
<tr><td colspan="3" class="foot">
<a href="viewsread.php?topic=<{$item.topic_id}>&amp;sread_id=<{$item.sread_id}>&amp;number=l999"><{$allview}></a>&nbsp;<a href="viewsread.php?topic=<{$item.topic_id}>&amp;sread_id=<{$item.sread_id}>&amp;number=l50"><{$new50}></a>&nbsp;<a href="viewsread.php?topic=<{$item.topic_id}>&amp;sread_id=<{$item.sread_id}>&amp;number=2-100">1-100</a>&nbsp;<a href="#menu"><{$topichead}></a>&nbsp;<a href="viewtopic.php?topic=<{$item.topic_id}>"><{$reload}></a>
</td></tr>
</table>
<br><br>
<{/foreach}>
<!-- end topic sread -->
<!-- end topic main table -->
<div align="right"><{$copyright}></div>
<!-- end module contents -->
